---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="relative min-h-screen bg-cover bg-center text-white" 
  style= "background-image: url('/public/image/comida1.avif');">
  <div class="min-h-screen text-white flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold">Bienvenidos a Mi Restaurante</h1>
    <p class="mt-4">¡Disfrutá de la mejor comida casera todos los días!</p>
  </div>
</div>
</Layout>
