<nav class="bg-red-600 text-white p-4 text-center">
  <a class="mx-4" href="/">Inicio</a>
  <a class="mx-4" href="/menu">Menú</a>
  <a class="mx-4" href="/postres">Bebidas</a>
  <a class="mx-4" href="/postres">Postres</a>
  <a class="mx-4" href="/contacto">Contacto</a>
</nav>